body {
  color: red;
}

color {
  color: blue;
}

.block__fird {
  color: green;
}

.block__text {
  color: green;
  font-size: 35px;
}

.block__text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
  line-height: 15px;
}
