@import "_nullstyle";
body {
  padding: 10px;
}
.wrapper {
  width: 600px;
  margin: 0px auto;
}
p {
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  margin: 20px;
}
h3 {
  font-size: 35px;
  color: blue;
}
footer {
  height: 200px;
}
.text-form {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
.div {
  &-1 {
    background: radial-gradient(
      circle closest-corner at 25% 25%,
      red 30px,
      yellow 40px,
      yellow 60px,
      green
    );
  }
  &-2 {
    background: radial-gradient(
      farthest-side,
      rgb(112, 221, 222),
      rgb(42, 138, 179)
    );
  }
  &-3 {
    background: radial-gradient(
      farthest-side at top center,
      rgb(112, 221, 222),
      rgb(42, 138, 179)
    );
  }
  &-4 {
    background: radial-gradient(
      closest-side circle,
      rgb(112, 221, 222),
      rgb(42, 138, 179)
    );
  }
  &-5 {
    background: radial-gradient(
      circle closest-corner at 30px 40px,
      rgb(112, 221, 222),
      rgb(42, 138, 179) 60px
    );
  }
  &-6 {
    background: radial-gradient(
      closest-side,
      rgb(73, 73, 73) 10px,
      white 30px,
      white 40px,
      green 50px
    );
  }
  &-7 {
    background: radial-gradient(
      circle,
      green 30px,
      white 30px,
      white 50px,
      green 50px
    );
  }
  &-8 {
    background: repeating-linear-gradient(
      to right,
      white 0px,
      white 5px,
      black 5px,
      black 10px
    );
  }
  &-9 {
    background: repeating-linear-gradient(
      to top,
      white 0px,
      white 5px,
      black 5px,
      black 10px
    );
  }
  &-10 {
    background: repeating-linear-gradient(
      to top,
      white,
      white 5px,
      black 5px,
      black 6px
    );
  }
  &-11 {
    background: repeating-linear-gradient(
      45deg,
      white,
      white 3px,
      red 3px,
      red 6px
    );
  }
  &-12 {
    background: repeating-radial-gradient(
      circle at center,
      white,
      white 5px,
      black 5px,
      black 10px
    );
  }
  &-13 {
    transition-property: background-color, width;
    transition-duration: 2s;
    &:hover {
      background-color: red;
      width: 50px;
    }
  }
  &-14 {
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.65, 1.25, 0.27, -0.64);
    &:hover {
      width: 600px;
      background: red;
    }
  }
  &-15 {
    border: 1px solid red;
    width: 350px;
    height: 100px;
    transition: background 2s ease 0s;
    &:hover {
      background: red;
    }
  }
  &-16 {
    border: 1px solid red;
    width: 350px;
    height: 100px;
    color: red;
    font-size: 18px;
    transition: all 2s ease 0s;
    &:hover {
      background: red;
      color: white;
    }
  }
  &-17 {
    border: 1px solid red;
    width: 350px;
    height: 100px;
    transition: all 2s ease 0s;
    &:hover {
      width: 600px;
    }
  }
  &-18 {
    border: 1px solid red;
    width: 350px;
    height: 100px;
    transition: all 1s ease 0s;
    &:hover {
      margin-left: 50px;
      width: 380px;
    }
  }
  &-19 {
    border: 1px solid red;
    width: 350px;
    height: 100px;
    transition: all 1.5s ease 2s;
    &:hover {
      width: 400px;
    }
  }
  &-20 {
    border: 1px solid red;
    width: 350px;
    height: 100px;
    transition: all 1.5s cubic-bezier(0.18, -0.25, 0.55, 0.87) 0s;
    &:hover {
      width: 500px;
    }
  }
  &-22 {
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid black;
    width: 50px;
    height: 50px;
  }
  &-23 {
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    border: 2px solid green;
    width: 50px;
    height: 50px;
  }
  &-24 {
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: 2px dashed yellowgreen;
    width: 50px;
    height: 50px;
  }
  &-25 {
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    border: 2px double red;
    width: 50px;
    height: 50px;
  }
  &-26 {
    animation-name: move;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 3;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &-27 {
    width: 50px;
    height: 10px;
    border: 1px solid red;
    margin-left: 300px;
    &-1 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: none;
    }
    &-2 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 3s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: none;
    }
    &-3 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: backwards;
    }
    &-4 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 3s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: backwards;
    }
    &-5 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: forwards;
    }
    &-6 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 3s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: forwards;
    }
    &-7 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: both;
    }
    &-8 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 3s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: both;
    }
  }
  &-28 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    &-1 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: none;
      animation-direction: normal;
    }
    &-2 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: 3;
      animation-fill-mode: none;
      animation-direction: reverse;
    }
    &-3 {
      animation-name: move;
      animation-duration: 3s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: none;
      animation-direction: alternate;
    }
    &-4 {
      animation-name: move;
      animation-duration: 3.55s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: none;
      animation-direction: alternate-reverse;
    }
  }
  &-29 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    animation-name: move;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
  }
  &-30 {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    animation-name: color;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
  }
  &-31 {
    width: 75px;
    height: 75px;
    border: 1px solid red;
    animation-name: "move-2";
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal;
  }
  &-32 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    animation-name: square, "color-red";
    animation-duration: 5s, 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: normal, alternate;
  }
  &-33 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    animation-name: move;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: alternate;
  }
  &-34 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    &:hover {
      animation: wid 2s 0s ease infinite none alternate;
    }
  }
  &-35 {
    &-1 {
      width: 50px;
      height: 50px;
      border: 1px solid green;
      margin: 0 0 20px 0;
    }
    &-1:hover + .div-35-2 {
      animation-play-state: running;
    }
    &-2 {
      width: 50px;
      height: 50px;
      border: 1px solid red;
      animation: widex 3s 0s linear infinite none alternate;
      animation-play-state: paused;
    }
  }
  &-36 {
    width: 250px;
    height: 250px;
    border: 1px solid red;
    position: relative;
    &-1 {
      width: 20px;
      height: 20px;
      background: red;
      border-radius: 50%;
      position: relative;
      animation: bounce 10s 0s ease-out infinite none normal running;
    }
  }
  &-37 {
    width: 250px;
    height: 250px;
    border: 1px solid red;
    position: relative;
    &-1 {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: green;
      position: absolute;
      animation: "bounce-2" 5s infinite;
    }
  }
}
@keyframes bounce {
  0% {
    top: 0px;
    right: 100%;
    bottom: 100%;
    left: 0px;
  }
  15% {
    top: 92%;
    right: 85%;
    bottom: 8%;
    left: 15%;
  }
  30% {
    top: 70%;
    right: 80%;
    bottom: 30%;
    left: 20%;
  }
  45% {
    top: 92%;
    right: 75%;
    bottom: 8%;
    left: 25%;
  }
  60% {
    top: 75%;
    right: 70%;
    bottom: 25%;
    left: 30%;
  }
  75% {
    top: 92%;
    right: 60%;
    bottom: 8%;
    left: 40%;
  }
  90% {
    top: 75%;
    right: 55%;
    bottom: 25%;
    left: 45%;
  }
  100% {
    top: 92%;
    right: 50%;
    bottom: 8%;
    left: 50%;
  }
}
@keyframes widex {
  from {
    width: 50px;
  }
  to {
    width: 400px;
  }
}
@keyframes square {
  0% {
    margin: 0 0 0 0;
  }
  25% {
    margin: 400px 0 0 0;
  }
  50% {
    margin: 400px 0 0 400px;
  }
  75% {
    margin: 0 0 0 400px;
  }
  100% {
    margin: 0 0 0 0;
  }
}
@keyframes color-red {
  from {
    background: white;
  }
  to {
    background: red;
  }
}
.text {
  &-21 {
    border: 1px solid black;
    padding: 5px;
    width: 350px;
    font-weight: 400;
    font-family: arial;
    margin-bottom: 10px;
    transition: all 1.5s ease 0s;
    &:focus {
      border: 1px solid blue;
      color: blue;
      width: 500px;
    }
  }
  &-22 {
    border: 1px solid black;
    padding: 5px;
    width: 350px;
    transition: all 1s ease 0s;
    &:focus {
      box-shadow: 0px 0px 5px blue;
      color: blue;
    }
  }
}
@keyframes move {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 400px;
  }
}
@keyframes color {
  from {
    background: white;
  }
  to {
    background: red;
  }
}
@keyframes move-2 {
  0% {
    margin-top: 400px;
  }
  25% {
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    margin-top: 0px;
    margin-left: 400px;
  }
  75% {
    margin-top: 400px;
    margin-left: 400px;
  }
  100% {
    margin-top: 400px;
  }
}
.box {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}
@keyframes bounce-2 {
  40%,
  70%,
  90% {
    animation-timing-function: ease-out;
    bottom: 0px;
  }
  0% {
    animation-timing-function: ease-in;
    left: 0px;
    bottom: 230px;
  }
  55% {
    bottom: 40px;
    animation-timing-function: ease-in;
  }
  80% {
    bottom: 30px;
    animation-timing-function: ease-in;
  }
  95% {
    bottom: 10px;
    animation-timing-function: ease-in;
  }
  100% {
    left: 110px;
    animation-timing-function: ease-out;
    bottom: 0px;
  }
}
