@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.div1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    flex: 1 1 auto;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .table-div {
    flex: 0 1 auto;
  }
}
td {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}
