@import "_nullstyle";

input {
  border: 1px solid black;
}
div {
  border: 1px solid red;
}

.underline {
  text-decoration: line-through;
}

td {
  border: 1px solid black;
}
.green {
  background-color: green;
}

.hidden {
  display: none;
}
.active {
  color: red;
}
.color1 {
  color: red;
}
.color2 {
  color: green;
}
.cross {
  text-decoration: line-through;
}
