@import "_nullstyle";

$a: "8.05";

@media (max-width: 767px) {
  .calculator {
    width: 100vw;
    height: 100vh;
  }
  .display {
    width: 82vw;
    &-digit {
      font-size: 15vw;
    }
  }
  .buttons {
    width: 95.5vw;
  }
  .btn {
    font-size: 7.3vw;
    width: 19vw;
    height: 19vw;
    margin: 1.8vw;
    &--zero {
      width: 41.25vw;
      padding-left: 6.8vw;
    }
  }
}
@media (min-width: 767px) {
  .calculator {
    width: 220px;
    height: 375px;
  }
  .display {
    width: 180px;
    height: 100px;
    &-digit {
      font-size: 33px;
    }
  }
  .buttons {
    width: 210px;
  }
  .btn {
    width: 42px;
    height: 42px;
    margin: 4.025px;
    &--zero {
      width: 90.75px;
      padding-left: 15px;
    }
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  // width: 220px;
  // height: 375px;
  background-color: #000;
  // border-radius: 10px;
  margin: 0px auto;
  // box-shadow: 0px 0px 7px black;
}
.display {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  // height: 100px;
  // width: 180px;
  // background-color: #fff;
  margin: 0 auto 20px;
  &-digit {
    color: #fff;
    display: inline-block;
    // font-size: 33px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  // width: 210px;
  &-block1 {
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
  }
  &-gray {
    // background-color: rgba(136, 67, 67, 0.734);
  }
  &-numbers {
    // background-color: rgba(67, 136, 74, 0.734);
  }
  &-footer {
    // background-color: rgba(67, 120, 136, 0.734);
  }
  &-block2 {
    // background-color: rgba(136, 67, 115, 0.734);
    flex: 0 0 25%;
  }
}
.btn {
  &:active {
    filter: contrast(50%) brightness(200%);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
  // margin: 4.025px;
  // width: 42px;
  // height: 42px;
  color: #fff;
  background-color: rgb(71, 71, 71);
  border-radius: 50%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &--zero {
    border-radius: 20.625vw;
    // width: 90.75px;
    text-align: left;
    // padding-left: 15px;
  }
  &--gray {
    background-color: rgb(199, 199, 199);
    color: black;
  }
  &--orange,
  &--orange1 {
    background-color: rgb(255, 176, 31);
  }
}
